<a href="https://api.whatsapp.com/send?phone=923409096374" class="rounded-circle w-15 h-15" style="position: fixed; bottom: 10vh; right: 2vh; z-index: 100000;">
    <img src="img/icons/whatsappIcon.png" style="width: 70px; height: 70px;" class="w-8 h-8 img-responsive" alt="" />
</a>
</button>
<div class="section padding-top-bottom-small background-black over-hide footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center text-md-left">
                <div class="subtitle with-line text-center mb-4 customHeader">
                    <h5 style="color: White;">Booking Ring</h5>
                </div>
                <p class="color-grey mt-4"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp; 1<sup>st</sup>
                    Floor
                    Sultan Tower, Swat.</p>
                <p class="color-grey mt-4"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp; 0346 0973906 | 0946
                    700553</p>
                <p class="color-grey mt-4"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp; info@bookingring.com
                </p>
            </div>
            <div class="col-md-4 text-center text-md-left">
                <div class="subtitle with-line text-center mb-4">
                    <h6 class="color-white mb-3">quick access</h6>
                </div>
                <div align="center">
                    <a href="/Hotels/list">Hotels</a>
                    <a href="/Appartments/allappartments">Appartments</a>
                    <a href="/Vehicles/list">Rental Vehicles</a>
                    <a href="/Tours/tours">Tours</a>
                    <a href="/TermsConditions/termsAndCondition">Terms &amp; Conditions</a>
                </div>

            </div>
            <div class="col-md-5 mt-4 mt-md-0 text-center text-md-left logos-footer">
                <div class="subtitle with-line text-center mb-4">
                    <h6 class="color-white mb-3">about Booking Ring</h6>
                </div>
                <p class="color-grey mb-4">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                    blanditiis
                    praesentium voluptatum deleniti atque corrupti quos dolores.</p>
            </div>
        </div>
    </div>
</div>

<div class="section py-4 background-dark over-hide footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
                <p>2021 © Booking Ring. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <a href="#" class="social-footer-bottom">facebook</a>
                <a href="#" class="social-footer-bottom">twitter</a>
                <a href="#" class="social-footer-bottom">instagram</a>
            </div>
        </div>
    </div>
</div>


<!-- Scroll to top -->
<!-- <div class="scroll-to-top"></div> -->


<!-- JAVASCRIPT ================================================== -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/flip-slider.js"></script>
<script src="/js/reveal-home.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/apiScripts.js"></script>
