<!-- Primary Page Layout
	================================================== -->
    <div class="section over-hide" id="bannerSection">
        <div class="dark-over-pages"></div>
    
        <div class="hero-center-section pages">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 parallax-fade-top">
                        <div class="hero-text"> Room Available </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div class="section padding-top z-bigger">
		<div class="container">
			<div class="row justify-content-center padding-bottom-smaller">
				<div class="col-md-8">
                    <div class="col-md-12">
                        <div class="subtitle with-line text-center mb-4">Personal info</div>
                    </div>
                    <div class="section clearfix"></div>
                    <div class="col-md-12 ajax-form">
                        <input name="name" id="name" type="text" placeholder="Your Name: *" autocomplete="off"/>
                    </div>
                    <div class="col-md-12 mt-4 mt-md-0 ajax-form">
                        <input name="phoneNo" id="phoneNo" type="number"  placeholder="Phone No: *" autocomplete="off"/>
                    </div>
                    <div class="col-md-12 mt-4 mt-md-0 ajax-form">
                        <input name="email" id="email" type="text"  placeholder="E-Mail: *" autocomplete="off"/>
                    </div>
                    <div class="section clearfix"></div>
                    
                    <div class="section clearfix"></div>
                    <div class="col-md-12 mt-3 ajax-form text-center">
                        <button class="send_message" id="send" data-lang="en"><span>Proceed</span></button>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="section background-dark">
                        <div class="row p-1">
                            <div class="col-12">
                                <h4 class="text-success font-weight-bold">hotel name</h4>
                                <hr>    
                                <div class="row">
                                    <div class="col-12 pt-1">
                                        <h5 class="text-white font-weight-bold">Check In</h5> 2/3/3000
                                    </div>
                                    <div class="col-12 pt-1">
                                        <h5 class="text-white font-weight-bold">Check Out</h5> 2/3/3000
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="text-white font-weight-bold">Adults</h5> 2/3/3000
                                <h5 class="text-white font-weight-bold">Children</h5> 2/3/3000
                                
                            </div>
                        </div>
                    </div>
                </div>
				
			</div>
			<!-- <div class="row justify-content-center">
				<div class="col-md-8">
					<div class="subscribe-home">
						<input type="text" placeholder="your email here"/>
						<button data-lang="en">subscribe</button>
					</div>
				</div>
			</div> -->
		</div>	
	</div>