<!-- Primary Page Layout
	================================================== -->
    <div class="section over-hide" id="bannerSection">
        <div class="dark-over-pages"></div>
    
        <div class="hero-center-section pages">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 parallax-fade-top">
                        <div class="hero-text"> Room Available </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div class="section padding-top z-bigger">
		<div class="container">
            <form action="">
			<div class="row justify-content-center padding-bottom-smaller">
				<div class="col-md-8">
					<div class="subtitle with-line text-center mb-4">Please Provide information</div>
				</div>
				<div class="section clearfix"></div>
				<div class="col-md-6 ajax-form">
					<input name="name" id="name" type="text" placeholder="Your Name: *" autocomplete="off"/>
				</div>
                <div class="col-md-6 mt-4 mt-md-0 ajax-form">
					<input name="phoneNo" id="phoneNo" type="text"  placeholder="Phone No: *" autocomplete="off"/>
				</div>
				<div class="col-md-4 mt-4 pt-4 mt-md-0 ajax-form">
					<input name="email" id="email" type="text"  placeholder="E-Mail: *" autocomplete="off"/>
				</div>
				
				<div class="section clearfix"></div>
				<div class="col-md-8 mt-3 ajax-form text-center">
					<button class="" id="" data-lang="en" type="submit"><span>Proceed</span></button>
				</div>
				
			</div>
            </form>
		</div>	
	</div>