<%- include('partials/header.ejs') %>

	<body>
		<!-- <div class="loader">
		<div class="loader__figure"></div>
	</div> -->

		<svg class="hidden">
			<svg id="icon-nav" viewBox="0 0 152 63">
				<title>navarrow</title>
				<path
					d="M115.737 29L92.77 6.283c-.932-.92-1.21-2.84-.617-4.281.594-1.443 1.837-1.862 2.765-.953l28.429 28.116c.574.57.925 1.557.925 2.619 0 1.06-.351 2.046-.925 2.616l-28.43 28.114c-.336.327-.707.486-1.074.486-.659 0-1.307-.509-1.69-1.437-.593-1.442-.315-3.362.617-4.284L115.299 35H3.442C2.032 35 .89 33.656.89 32c0-1.658 1.143-3 2.552-3H115.737z" />
			</svg>
		</svg>


		<!-- Nav and Logo
	================================================== -->

		<%- include('partials/navbar.ejs', {loggedIn: loggedIn}) %>

			<%- body %>

				<%- include('partials/footer.ejs') %>

					<!-- End Document ================================================== -->
					<script>
						var elementPosition = $('#fixed').offset();

						$(window).scroll(function () {
							if ($(window).scrollTop() > elementPosition.top) {
								$('#fixed').css('position', 'sticky').css('top', '0');
							} else {
								$('#fixed').css('position', 'static');
							}
						});

						$("#homeSearchCats").click(()=>{
							const cat = $('#category').val();
							const area = $('#areaName').val();
							window.location.href = `/${cat}/${area}`;
						})

						$("#searchHotels").click(function () {
							const checkIn = $('#start-date-1').val();
							const checkOut = $('#end-date-1').val();
							const area = $('#area').val();
							const adults = $('#adults').val();
							
							window.location.href = `/Hotels/availableHotels/?checkIn=${checkIn}&checkOut=${checkOut}&area=${area}&adults=${adults}`;
							
						});

						$("#searchAppartments").click(function () {
							const checkIn = $('#start-date-1').val();
							const checkOut = $('#end-date-1').val();
							const area = $('#area').val();
							const adults = $('#adults').val();
							
							window.location.href = `/Appartments/availableAppartments/?checkIn=${checkIn}&checkOut=${checkOut}&area=${area}&adults=${adults}`;
							
						});

						$("#searchVehicles").click(function () {
							const area = $('#area').val();
							const adults = $('#adults').val();
							
							window.location.href = `/Vehicles/availableVehicles/?area=${area}&adults=${adults}`;
							
						});

						$("#roomBooking").click(function () {
							const roomId = $('#roomId').val();
							const htoelId = $('#hotelId').val();
							const checkIn = $('#start-date-1').val();
							const checkOut = $('#end-date-1').val();
							const adults = $('#adults').val();
							const children = $('#childs').val();
							const data = JSON.stringify({
								checkIn: checkIn,
								checkOut: checkOut,
								adults: adults,
								children: children,
								roomId: roomId,
								hotelId: htoelId
							});
							fetch('/hotels/roomBooking', {
								method: "POST",
								body: data,
								headers: {
									"Content-type": "application/json; charset=UTF-8"
								}
							})
								// Checking Status
								.then(response => {
									if (response.status === 200) {
										console.log('succes')
									} else {
										alert('oop\'s something went wrong, Please Try again')
									}
								})
						});

						$("#appartmentBooking").click(function () {
							const appartmentId = $('#appartmentId').val();
							const checkIn = $('#start-date-1').val();
							const checkOut = $('#end-date-1').val();
							const adults = $('#adults').val();
							const children = $('#childs').val();
							const data = JSON.stringify({
								checkIn: checkIn,
								checkOut: checkOut,
								adults: adults,
								children: children,
								appartmentId: appartmentId
							});
							fetch('/Appartments/apartmentBooking', {
								method: "POST",
								body: data,
								headers: {
									"Content-type": "application/json; charset=UTF-8"
								}
							})
								// Checking Status
								.then(response => {
									if (response.status === 200) {
										console.log('succes')
									} else {
										alert('oop\'s something went wrong, Please Try again')
									}
								})
						});

						$("#vehicleBooking").click(function () {
							const vehicleId = $('#vehicleId').val();
							const checkIn = $('#start-date-1').val();
							const checkOut = $('#end-date-1').val();
							const location = $('#location').val();
							const adults = $('#adults').val();
							const children = $('#childs').val();
							const data = JSON.stringify({
								checkIn: checkIn,
								checkOut: checkOut,
								adults: adults,
								location: location,
								children: children,
								vehicleId: vehicleId
							});
							fetch('/Vehicles/booking', {
								method: "POST",
								body: data,
								headers: {
									"Content-type": "application/json; charset=UTF-8"
								}
							})
								// Checking Status
								.then(response => {
									if (response.status === 200) {
										console.log('succes')
									} else {
										alert('oop\'s something went wrong, Please Try again')
									}
								})
						});

						$("#tourEnrolling").click(function () {
							const tourId = $('#tourId').val();
							const seats = $('#seats').val();
							const data = JSON.stringify({
								tourId: tourId,
								seats: seats
							});
							fetch('/Tours/enrolling', {
								method: "POST",
								body: data,
								headers: {
									"Content-type": "application/json; charset=UTF-8"
								}
							})
								// Checking Status
								.then(response => {
									if (response.status === 200) {
										console.log('success')
									} else {
										alert('oop\'s something went wrong, Please Try again')
									}
								})
						});

						$("#send").click(function () {
							const name = $('#name').val();
							const email = $('#email').val();
							const message = $('#message').val();
							const data = JSON.stringify({
								name: name,
								email: email,
								message: message
							});
							fetch('/Contact/feedback', {
								method: "POST",
								body: data,
								headers: {
									"Content-type": "application/json; charset=UTF-8"
								}
							})
								// Checking Status
								.then(response => {
									if (response.status === 200) {
										console.log('success')
									} else {
										alert('oop\'s something went wrong, Please Try again')
									}
								})
						});


					</script>




					<!-- <script>
			$(document).ready(function () {
				$('.phone').inputmask('(999)-999-9999');
			});
		</script> -->
					<!--Start of Tawk.to Script-->
					<script type="text/javascript">
						var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
						(function () {
							var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
							s1.async = true;
							s1.src = 'https://embed.tawk.to/620731339bd1f31184dc3f17/1frm1gd37';
							s1.charset = 'UTF-8';
							s1.setAttribute('crossorigin', '*');
							s0.parentNode.insertBefore(s1, s0);
						})();
					</script>
					<!--End of Tawk.to Script-->

	</body>

	</html>