<!-- Primary Page Layout
	================================================== -->

<div class="section big-55-height over-hide z-bigger customClass">

    <div class="parallax parallax-top" style="background-image: url('../img/terms-and-condistions.jpg')"></div>
    <div class="dark-over-pages"></div>

    <div class="hero-center-section pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 parallax-fade-top">
                    <div class="hero-text">Terms &amp; Conditions</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom z-bigger">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 align-self-center">
                <div class="subtitle with-line text-center mb-4">Terms &amp; Conditions</div>
                <h3 class="text-center padding-bottom-small">Booking Ring</h3>
            </div>
            <div class="section clearfix"></div>
            <div class="col-lg-8">
                <h5>General Terms </h5>
                <ul class="mt-2">
                    <li>Binary theme &nbsp;provide bootstrap themes, asp .net themes , html themes, photos,
                        &nbsp;tutorials, etc. that can be downloaded for free.</li>
                </ul>

                <hr>

                <h5>Terms Of Service </h5>
                <ul class="mt-2">
                    <li>Binary theme &nbsp;provide bootstrap themes, asp .net themes , html themes, photos,
                        &nbsp;tutorials, etc. that can be downloaded for free.</li>
                    <li>You can use our services for free to download content.</li>
                    <li>You must not use our themes and contents that we provide to download for illegal or
                        unethical
                        purpose.</li>
                    <li>We do not claim all content which we provide is fully ours, we can use other authors
                        free/open
                        source content and provide you to download. The original authors hold right of their work
                        and
                        you have to check their licenses for usage.</li>
                </ul>

                <hr>

                <h5>Privacy Policy </h5>
                <ul class="mt-2">
                    <li>Binary theme &nbsp;provide bootstrap themes, asp .net themes , html themes, photos,
                        &nbsp;tutorials, etc. that can be downloaded for free.</li>
                </ul>

                <hr>

                <h5>Disclaimer & Important Info </h5>
                <ul class="mt-2">
                    <li>Binary theme &nbsp;provide bootstrap themes, asp .net themes , html themes, photos,
                        &nbsp;tutorials, etc. that can be downloaded for free.</li>
                    <li>You can use our services for free to download content.</li>
                    <li>You must not use our themes and contents that we provide to download for illegal or
                        unethical
                        purpose.</li>
                    <li>We do not claim all content which we provide is fully ours, we can use other authors
                        free/open
                        source content and provide you to download. The original authors hold right of their work
                        and
                        you have to check their licenses for usage.</li>
                </ul>

                <hr>

                <h5 class="text-center mt-3 mb-3">License & Credits </h5>

                <h5>License</h5>
                <ul class="mt-2">
                    <li>Binary theme &nbsp;provide bootstrap themes, asp .net themes , html themes, photos,
                        &nbsp;tutorials, etc. that can be downloaded for free.</li>
                    <li>You can use our services for free to download content.</li>
                    <li>You must not use our themes and contents that we provide to download for illegal or
                        unethical
                        purpose.</li>
                    <li>We do not claim all content which we provide is fully ours, we can use other authors
                        free/open
                        source content and provide you to download. The original authors hold right of their work
                        and
                        you have to check their licenses for usage.</li>
                </ul>

                <h5>Credits</h5>
                <ul class="mt-2">
                    <li>Binary theme &nbsp;provide bootstrap themes, asp .net themes , html themes, photos,
                        &nbsp;tutorials, etc. that can be downloaded for free.</li>
                    <li>You can use our services for free to download content.</li>
                    <li>You must not use our themes and contents that we provide to download for illegal or
                        unethical
                        purpose.</li>
                    <li>We do not claim all content which we provide is fully ours, we can use other authors
                        free/open
                        source content and provide you to download. The original authors hold right of their work
                        and
                        you have to check their licenses for usage.</li>
                </ul>


            </div>
        </div>
    </div>
</div>