<div id="spinner" >
  <div class="container">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">uploading</div>
    </div>
  </div>
</div>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Hotels</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Hotel</li>
              <li class="breadcrumb-item active">Add Hotel Gallery</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
        <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title"><%= title %></h3>
              </div>
              <div class="card-body">
                <form action="<%= url %>" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Select Images</label>
                        <input type="file" multiple name="images" placeholder="Example: Kalam" class="form-control" required>
                    </div>
                    <hr>
                    <input type="hidden" name="hotelId" value="<%= hotelId %>">
                    <div class="form-group">
                        <a class="btn btn-secondary btn-sm" name="cancel" type="submit" onclick="history.back(-1)">Cancel</a>
                        <button class="btn btn-success btn-sm" type="submit" name="">Upload</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>