<!-- Primary Page Layout
	================================================== -->
<div class="section big-55-height over-hide z-bigger customClass">

    <div class="parallax parallax-top" style="background-image: url('../img/Mahodand-lake-kalam.jpg')"></div>
    <div class="dark-over-pages"></div>

    <div class="hero-center-section pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 parallax-fade-top">
                    <div class="hero-text">Our Tours &amp; Hikes</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom over-hide background-grey">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 align-self-center">
                <div class="subtitle with-line text-center mb-4">gallery</div>
                <h3 class="text-center padding-bottom-small">our Tours</h3>
            </div>
            <div class="section clearfix"></div>
            <div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <div class="room-box background-white">
                    <img src="../img/room1.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">Demo Apartment</h5>
                        <p class="mt-3"><strong>Address: </strong> Kalam, Utror.</p>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <div class="room-box background-white">
                    <img src="../img/room2.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">Demo Apartment</h5>
                        <p class="mt-3"><strong>Address: </strong> Kalam.</p>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <div class="room-box background-white">
                    <img src="../img/room2.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">Demo Apartment</h5>
                        <p class="mt-3"><strong>Address: </strong> Kalam, Mahodand.</p>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <div class="room-box background-white">
                    <img src="../img/room5.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">Demo Apartment</h5>
                        <p class="mt-3"><strong>Address: </strong> Kalam, Behrain.</p>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>