<div class="section over-hide" id="bannerSection" style="height: 100vh;">
  <div class="dark-over-pages"></div>

  <div class="hero-center-section pages">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 parallax-fade-top">
          <div class="hero-text">
            <i class="checkmark text-white font-weight-bold">✓</i>
            Booking confirmed
          </div>
          <p class="text-center">Thank you for using our services. See your Bookings for details.</p>
        </div>
      </div>
    </div>
  </div>
</div>
