<!-- Primary Page Layout
	================================================== -->
<div class="section big-55-height over-hide z-bigger customClass">

	<div class="parallax parallax-top" style="background-image: url('../img/old-town-by-welcome-apartment.jpg')"></div>
	<div class="dark-over-pages"></div>

	<div class="hero-center-section pages">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 parallax-fade-top">
					<div class="hero-text">Our Appartment</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="container sliderContainerClass" id="fixed">
	<div class="row">
		<div class="col-12 mt-3">
			<div class="booking-hero-wrap customWrapper">
				<div class="row justify-content-center customJustifier">
					<div class="col-md-5 col-sm-12" id="dateId">
						<div class="input-daterange input-group" id="flight-datepicker">
							<div class="row">
								<div class="col-6">
									<div class="form-item inputClass">
										<span class="fontawesome-calendar"></span>
										<input class="input-sm" type="text" autocomplete="off" id="start-date-1"
											name="start" placeholder="chech-in date" data-date-format="DD, MM d" />
										<span class="date-text date-depart"></span>
									</div>
								</div>
								<div class="col-6">
									<div class="form-item inputClass">
										<span class="fontawesome-calendar"></span>
										<input class="input-sm" type="text" autocomplete="off" id="end-date-1"
											name="end" placeholder="check-out date" data-date-format="DD, MM d" />
										<span class="date-text date-return"></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-5 col-sm-12" id="dateId">
						<div class="row">
							<div class="col-6 selectClassCustom">
								<select class="wide nice-select">
									<option data-display="Select Location"></option>
									<option value="Kalam">Kalam</option>
									<option value="Malamjabba">Malamjabba</option>
									<option value="Bahrain">Bahrain</option>
									<option value="Madyan">Madyan</option>
									<option value="Utror">Utror</option>
									<option value="GabinJabba">GabinJabba</option>
								</select>
							</div>

							<div class="col-6 selectClassCustom">
								<select name="adults" class="wide">
									<option data-display="adults">adults</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-6  col-sm-4 col-lg-2">
						<a class="booking-button" href="search.html">Search!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="section padding-top-bottom z-bigger">
	<div class="section z-bigger">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mt-4 mt-lg-0">
					<div class="row">
						<div class="col-md-6" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
							<div class="room-box background-white">
								<div class="room-name">suite andrea</div>
								<div class="room-per">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<a href="/Appartments/apartmentBooking">
									<img src="../img/room5.jpg" alt="">
								</a>
								<div class="room-box-in">
									<h5><a href="/Appartments/apartmentBooking" style="color: #444;">Appartment</a></h5>
									<p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam,
										eaque ipsa quae ab illo
										inventore veritatis et.</p>
									<a class="mt-1 btn btn-primary" href="/Appartments/apartmentBooking">book from 5,000
										PKR</a>
								</div>
							</div>
						</div>

						<div class="col-md-6" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
							<div class="room-box background-white">
								<div class="room-name">suite andrea</div>
								<div class="room-per">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<a href="/Appartments/apartmentBooking">
									<img src="../img/room5.jpg" alt="">
								</a>
								<div class="room-box-in">
									<h5><a href="/Appartments/apartmentBooking" style="color: #444;">Appartment</a></h5>
									<p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam,
										eaque ipsa quae ab illo
										inventore veritatis et.</p>
									<a class="mt-1 btn btn-primary" href="/Appartments/apartmentBooking">book from 5,000
										PKR</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 mt-4" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
							<div class="room-box background-white">
								<div class="room-name">suite andrea</div>
								<div class="room-per">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<a href="/Appartments/apartmentBooking">
									<img src="../img/room5.jpg" alt="">
								</a>
								<div class="room-box-in">
									<h5><a href="/Appartments/apartmentBooking" style="color: #444;">Appartment</a></h5>
									<p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam,
										eaque ipsa quae ab illo
										inventore veritatis et.</p>
									<a class="mt-1 btn btn-primary" href="/Appartments/apartmentBooking">book from 5,000
										PKR</a>
								</div>
							</div>
						</div>

						<div class="col-md-6 mt-4" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
							<div class="room-box background-white">
								<div class="room-name">suite andrea</div>
								<div class="room-per">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<a href="/Appartments/apartmentBooking">
									<img src="../img/room5.jpg" alt="">
								</a>
								<div class="room-box-in">
									<h5><a href="/Appartments/apartmentBooking" style="color: #444;">Appartment</a></h5>
									<p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam,
										eaque ipsa quae ab illo
										inventore veritatis et.</p>
									<a class="mt-1 btn btn-primary" href="/Appartments/apartmentBooking">book from 5,000
										PKR</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 order-first order-lg-last">
					<div class="section background-dark p-4">
						<div class="row">
							<div class="col-12">
								<div class="input-daterange input-group" id="flight-datepicker">
									<div class="row">
										<div class="col-12">
											<div class="form-item">
												<span class="fontawesome-calendar"></span>
												<input class="input-sm" type="text" autocomplete="off" id="start-date-1"
													name="start" placeholder="chech-in date"
													data-date-format="DD, MM d" />
												<span class="date-text date-depart"></span>
											</div>
										</div>
										<div class="col-12 pt-4">
											<div class="form-item">
												<span class="fontawesome-calendar"></span>
												<input class="input-sm" type="text" autocomplete="off" id="end-date-1"
													name="end" placeholder="check-out date"
													data-date-format="DD, MM d" />
												<span class="date-text date-return"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-12 pt-4">
										<select name="adults" class="wide">
											<option data-display="adults">adults</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</div>
									<div class="col-12 pt-4">
										<select name="children" class="wide">
											<option data-display="children">children</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-12 pt-5">
								<h6 class="color-white mb-3">Max price:</h6>
								<div class="selecteurPrix">
									<div class="range-slider">
										<input class="input-range" type="range" value="1000" min="500" max="25000">
										<div class="valeurPrix">
											<span class="range-value"></span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 col-md-6 col-lg-12 pt-5">
								<h6 class="color-white mb-3">Services:</h6>
								<ul class="list">
									<li class="list__item">
										<label class="label--checkbox">
											<input type="checkbox" class="checkbox">
											Hot Water
										</label>
									</li>
									<li class="list__item">
										<label class="label--checkbox">
											<input type="checkbox" class="checkbox">
											Heater / AC
										</label>
									</li>
									<li class="list__item">
										<label class="label--checkbox">
											<input type="checkbox" class="checkbox">
											King beds
										</label>
									</li>
									<li class="list__item">
										<label class="label--checkbox">
											<input type="checkbox" class="checkbox">
											Balcony
										</label>
									</li>
									<li class="list__item">
										<label class="label--checkbox">
											<input type="checkbox" class="checkbox">
											Parking
										</label>
									</li>
									<li class="list__item">
										<label class="label--checkbox">
											<input type="checkbox" class="checkbox">
											Room Service
										</label>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>