<div class="section over-hide" id="bannerSection">
    <div class="dark-over-pages"></div>

    <div class="hero-center-section pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 parallax-fade-top">
                    <div class="hero-text text-danger"> Sorry, No Appartment Available </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom over-hide background-grey">
    <div class="container">
        <h4>Checkout other Appartments</h4>
        <div class="row justify-content-center">

            <% appartments.forEach(appartment => { %> 
            <div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <div class="room-box background-white">
                    <img src="/uploads/<%= appartment.gallery[0] ? appartment.gallery[0] : 'noImage.png' %>" alt="">
                    <div class="room-box-in">
                        <h5 class=""><%= appartment.name %></h5>
                        <p class="mt-3"><strong>Address: </strong> <%= appartment.address %> </p>
                        <a class="mt-1 btn btn-primary" href="/Appartments/apartmentBooking/<%= appartment.id %>">Select Apartment</a>
                        <!-- <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a> -->
                    </div>
                </div>
            </div>
            <% }) %> 

        </div>
    </div>
</div>